@{
    ViewData["Title"] = "Student Management";
}

<h1>Student Management</h1>
<div class="btn-group-vertical">
    <a asp-action="List" class="btn btn-outline-primary mb-2">Display Students</a>
    <a asp-action="Males" class="btn btn-outline-secondary mb-2">List of Male Students</a>
    <a asp-action="OldestStudent" class="btn btn-outline-success mb-2">Oldest Student</a>
    <a asp-action="FullNames" class="btn btn-outline-danger mb-2">Display Full Names</a>
    <a asp-action="BornIn2000" class="btn btn-outline-dark mb-2">Display Students Born in 2000</a>
    <a asp-action="BornAfter2000" class="btn btn-outline-primary mb-2">Display Students Born After 2000</a>
    <a asp-action="BornBefore2000" class="btn btn-outline-success mb-2">Display Students Born Before 2000</a>
    <a asp-action="FirstHanoian" class="btn btn-outline-secondary mb-2">First Student Born in Ha Noi</a>
</div>
